*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
