.container {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 5px 0;
  border: 1px solid hsl(11, 90%, 80%);
  color: #353b48;
}
.container:hover {
  border-color: #d63031;
}
.seen {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}
.seenText {
  text-decoration: line-through;
}
.button {
  all: unset;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.doneButton {
  composes: button;
  background-color: #27ae60;
}
.deleteButton {
  composes: button;
  background-color: #c0392b;
}
.seenButton {
  composes: button;
  background-color: #bdc3c7;
  border: 1px solid white;
}
